@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/* common styles */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* title */
#title {
  margin-bottom: 50px;
}

/* rounds */
.rounds-label {
  margin-right: 32px;
}

input {
  font-size: 1.6rem;
  padding: 4px 0px 4px 4px;
  width: 50px;
}

/* buttons */
.wrapper.buttons {
  margin: 32px 0;
}

.button {
  font-size: 2rem;
  font-weight: 600;

  color: #000;
  background-color: #fff;

  border: 2px solid #000;
  border-radius: 10%;
  padding: 4px 8px;
  margin: 0 16px;
}

.button:hover {
  background-color: rgb(255, 196, 4);
  border: 2px solid #000;
}

/* score */
.score span {
  font-weight: 700;
}

.score:first-child {
  margin-right: 32px;
}

@media screen and (max-width: 400px) {
  #title {
    font-size: 28px;
    padding: 0 16px;
  }

  .wrapper.buttons {
    flex-direction: column;
  }

  .button {
    margin: 16px 0;
  }
}
